.login{
    margin-right: 600px;
    margin-top: 100px;
    background: linear-gradient(rgba(100,100,100,0.5),transparent);
}

.raised-btn{
    margin: 15px;
}

.modal{
    direction: rtl;
}

.nameError{
    color: red;
    font-size: 15px;
}

.passwordError{
    color: red;
    font-size: 15px;
}